.message_right {
   right: 0;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   flex-direction: row-reverse;
}

.message_right > p {
   background-color: #f06292;
   padding: 10px 10px;
   margin-right: 5px;
   border-radius: 20px;
   max-width: 170px;
   overflow-wrap: break-word;
}

.message_right > .MuiAvatar-root {
   width: 30px;
   height: 30px;
}