.message_left {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.message_left > p {
   background-color: #e5e5e5;
   padding: 10px 10px;
   margin-left: 5px;
   border-radius: 20px;
   max-width: 170px;
   overflow-wrap: break-word;
}

.message_left > .MuiAvatar-root {
   width: 30px;
   height: 30px;
}