.message {
   padding:5px;
   display: flex;
   flex-direction: column-reverse;
}

.message > div {
   margin: 5px;
}

.message_box {
   position: fixed;
   bottom: 0;
   right: 0;
   display: flex;
   flex-direction: row;
}
/* 
.MuiAvatar-circular {
   margin-bottom: 5px;
} */

.status_icon{
   position: relative;
   right: -24px;
   bottom: 18px;
}

.status_icon .MuiSvgIcon-root {
   color: limegreen;
   width: 17px;
}

.user_icon {
   height: 40px;
}
